<a href="/" class="navhome">
  <img id="logo" width="140" height="140" src="images/EMlogoV2-shadow.png">
</a>

<ul class="sidenav">
  <li class="about">
    <a href="about.html">about</a>
  </li>
  <li class="work">
    <a href="work.html">work</a>
  </li>
</ul>
