<a href="index.html" class="navhome">
  <img src="images/EMlogoV2-shadow.png" height="140" width="140">
</a>

<ul class="sidenav">
  <li class="about">
    <a href="about.html">about</a>
  </li>
  <li class="work">
    <a href="work.html">work</a>
  </li>
</ul>
