<% content_for :title, "About" %>

<body>
    <img id="bg" src="https://i.giphy.com/media/3oz8xEUSYcZ7ekMTAI/200.gif">
    <div class="container about_box">
        <h3>How's it hangin'</h3>
        <h2>I'm Emily</h2>
        <br>
        artist, student, and grocery shopping enthusiast
        <br>
    </div>
</body>