<% content_for :title, "Contact" %>

<body>
    <h3>email: crimsonopal98@gmail.com*</h3>
    <br>
    <br>
    <sup>*I made this like ten years ago, could probbaly use an update at this point.
    Don't judge me too hard in the meantime?</sup>
</body>