<% content_for :title, "Contact" %>

<body>
    <div class="container about_box">
        <h3>crimsonopal98@gmail.com*</h3>
        <br>
        <sup>*I made this like ten years ago, could probabaly use an update at this point.
        <br>
        Don't judge me too hard in the meantime?</sup>
    </div>
</body>