<% content_for :title, "Example subpage" %>

<!--Content goals:
Image gallery with product
zoom over gallery to zoom within gallery window
click gallery to expand
image description, cost, specifications, etc
link to return to store page-->

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <img src="/images/me-and-my-dog-small.png">
            </div>
            <div class="col-6">
                <h2>Me and My Dog</h2>
                <br>
                work in progress
            </div>
        </div>
    </div>
</body>
