<% content_for :title, "Store" %>

<body>
  <div id="banner">
    <div id="demo" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ol>
      
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="pixelated" src="images/koi%20pond.gif">
        </div>
        
        <div class="carousel-item">
          <img class="pixelated" src="images/rainy%20day.gif">
        </div>
        
        <div class="carousel-item">
          <img class="pixelated" src="images/space%20heater.gif">
        </div>
      </div>
    </div>
  </div>

  <h1>This is the store</h1>
  
  <div class="container-fluid">
    <div class="row">

      <div class="col-md">

        <div class="grid-item">
          <figure>
            <img src="/images/beauty-queen-small.png" class="item-large">
            <figcaption>
              <h4>work in progress</h4>
              <h1>BEAUTY QUEEN</h1>
            </figcaption>
          </figure>
        </div>

        <div class="grid-item">
          <figure>
            <img src="/images/jupiter-small.png">
            <figcaption>
              <h4>work in progress</h4>
              <h1>JUPITER</h1>
            </figcaption>
          </figure>
        </div>    

      </div>
      <div class="col-md">

        <div class="grid-item">
          <figure>
            <img src="/images/split-small.png" class="item-small">
            <figcaption>
              <h4>work in progress</h4>
              <h1>SPLIT</h1>
            </figcaption>
          </figure>
        </div>

        <div class="grid-item">
          <figure>
            <img src="/images/flowering.png" class="item-small">
            <figcaption>
              <h4>3D render for epoxy mold</h4>
              <h1>FLOWERING</h1>
            </figcaption>
          </figure>
        </div>

        <div class="grid-item">
          <figure>
            <img src="/images/consumed-small.png">
            <figcaption>
              <h4>work in progress</h4>
              <h1>CONSUMED</h1>
            </figcaption>
          </figure>
        </div>  

      </div>
      <div class="col-md">

        <div class="grid-item" onclick="window.location='store/meandmydog.html';">
          <figure>
            <img src="/images/me-and-my-dog-small.png">
            <figcaption>
              <h4>work in progress</h4>
              <h1>ME AND MY DOG</h1>
            </figcaption>
          </figure>
        </div>

        <div class="grid-item">
          <figure>
            <img src="/images/cut-small.png" class="item-large">
            <figcaption>
              <h4>work in progress</h4>
              <h1>HIDDEN</h1>
            </figcaption>
          </figure>
        </div>

      </div>
    </div>
  </div>
  <!-- everything below this is scaffolding to get bootstrap set up -->
      
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>