@font-face {
  font-family: Riviera;
  src:font-url('Riviera.otf') format('opentype');
}

@font-face {
  font-family: BEYNO;
  src:font-url('BEYNO.otf') format('opentype');
  src:font-url('BEYNO.ttf') format('truetype')
}

@font-face {
  font-family: Comfortaa, monospace;
}
