body {
  background-color: $primary;
}

a:link,
a:visited {
  color: $primary;
}
a:hover   {
  color: white;
  text-decoration: none;
}
a:active  {
  transition: color .3s;
  color: $primary;
}

// nabvar home with logo
#logo {
  margin: auto;
  z-index: 1;
}

.navhome img{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

//navbar side navigation
.sidenav {
  z-index:5;
  width:auto;
  height:auto;
  overflow: hidden;
}

.sidenav ul {
  height:auto;
  -webkit-overflow-scrolling: touch;
}

ul {
  margin-bottom: 0;
}

.sidenav li {
  display: block;
  position:fixed;
  width:116px; 
  height:70px;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: BEYNO, sans-serif;
  z-index:5;
}

.sidenav li.about{ left:0px; top:45%; transform: rotate(-90deg)}
.sidenav li.work{ right:0px; top:45%; transform:rotate(90deg)}

//footer
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-bottom: 8px;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: BEYNO, sans-serif;
}

.social-media {
  width: 48px;
  height: 48px;
}